body {
    background: white;
}



#logo {
    width: auto;
}

#menu {
    line-height: 80px;
}

#menu li {
    display: inline;
}

#menu ul {
    margin: 0px;
}

#banner {
    clear: both;
    background-image: url("../images/4x4-adventure-automobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#left_banner {
    width: 480px;
    background: black;
    opacity: 0.4;
    position: relative;
}

#hero-text {
    color: white;
    width: 367px;
    top: 50px;
    left: 50px;
}

#more {
    width: 150px;
    top: 10px;
}

#more h2 {
    color: blue;
}


#footer {
    background: black;
    text-align: center;
    line-height: 50px;
}

#footer p {
    color: white;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.max_width {
    width: 960px;
}

.std_small_height {
    height: 80px;
}

.std_big_height {
    height: 554px;
}

.rel_position {
    position: relative;
}

#about_mountain {
    clear: right;
    width: 290px;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
}

#description {
    float: left;
    width: 560px;
    padding-left: 30px;
}

#description p {
    padding-left: 30px;
}


.std_border {
    border: 1px solid black;
}

.center_margin {
    margin-left: auto;
    margin-right: auto;
}